
body{
  font-family: Alcotton;
}

@font-face{
font-family: Alcotton;
src: url('Alcotton.ttf');
}
@font-face{
font-family: Sq;
src: url('Squad-Trial-Light.ttf');
}
.container{
width: 100%;
display: flex;
justify-content: center;
}

.inner{
  border-radius: 0.5rem;
  font-family: Sq;
  font-weight: 100;
  background-color: #f2f2f2;
  margin:0;
  text-align: center;
  padding: 0 10px 0 10px;
  width:50%;
  display: block;
}
.h4{
  font-family: Alcotton;
}
hr{
  border: none;
  outline: 0.5px solid #f2f2f2;
}
.footer{
    text-align: center;
}

@media only screen and (max-width: 780px) {
  body{
    font-size: 13px;
  }
  .inner{
    width: 80%;
  }
}
